h3 {
    color: #1A3D7C
}

form {
    border: 5px solid #9BCBFB;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* Llevar los estilos del input al app.css */
input {
    background-color: #E6F0FA;
    border: none;
    border-radius: 20px;
    width: 60%;
    height: 30px;
    margin: 15px 0 20px;
    color: black;
}