#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.header {
  text-align: center;
  padding: 30px 20px;
  border-bottom: 2px solid #ddd;
  border: 2px solid #333;
}

#id {
  background-color: black;
  border: 2px solid;
}

.header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #333;
}

.header h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #666;
  font-weight: normal;
}

.ingredientes-contenedor {
  padding: 60px;
}